@import '../../../styles/settings.scss';

.paper {
  padding: $base-size * 5;
  margin: $base-size * 2;
}

.heading {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textField {
  margin: 0 0 $base-size*3 0;
}

